<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01
 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>    
    <head>
        <script type="text/javascript">

        function chk(){
            var req = document.form.req.checked;
            var req2 = document.form.req2.checked;
            var req3 = document.form.req3.checked;
            var num = 0;
            if(req  == true && req2 == true && req3 == true){
                num = 1;
                }
            if(num==1){
                document.form.submit();
            }else{
                alert("개인정보 약관에 동의하셔야 합니다.");
                }
            }
        function chk2(){
            alert("회원 정보 입력 페이지로 이동합니다.");
                location.href="../signup2"}

        function nochk(){
            alert("동의하지 않으면 가입하실 수 없습니다");
                location.href="http://www.naver.com";}
        </script>

        <meta charset="UTF-8" />

    <title> MIMS 회원가입 창</title>
    </head>

    <body>
        <form action="" name="form" method="post">
        <table width="1200">
            <tr>
                <td width="100%" height="10%" align="center" >
                <span style="padding-left: 5px">
                <img src="https://st2.depositphotos.com/3867453/5604/v/950/depositphotos_56046413-stock-illustration-letter-m-logo-icon-design.jpg"  
                 width="200" height="120" border="0" align="center">   <!-- 추후 사이트 로고로 대체 하여야 한다-->
                </span>
                &nbsp; <font size="20"><b>MIMS 회원가입</b></font>
                <br>
                <hr align="center" color="gray" width="50%">
                </td>
            </tr>
        </table>    
        <table width="1200" height="800" border="1">    
            <tr>
                <td width="100%" height="50%" align="center">
                    <p align="center">
                        <span style="padding-left: 10px">
                            <font size="4"><b>MIMS 약관동의</b></font>
                        </span>
                    </p>
                    <br>
                    <textarea align="center" rows="20" cols="120">
    가. 수집하는 개인정보의 항목첫째, 회사는 회원가 입, 원활한 고객상담, 각종 서비스의 제공을 위해 최초 회원가입 당시 아래와 같은 최소한의 개인정보를 필수항목으로 수집하고 있습니다.

        첫째, 회원가입에 관한 정보수집항목
                - 이름, 생년월일, 성별, 아이디, 비밀번호, 별명, 연락처(메일주소, 휴대폰 번호 중 선택), 가입인증정보 만14세 미
                  만 아동 회원가입 
                - 이름, 생년월일, 성별, 법정대리인 정보, 아이디, 비밀번호, 연락처 (메일주소, 휴대폰 번호 중 선택), 가입인증정보 단체아이디 회원가입 
                - 단체아이디, 회사명, 대표자명, 대표 전화번호, 대표 이메일 주소, 단체주소, 관리자 아이디, 관리자 연락처, 관리자 부서/직위
                - 선택항목 : 대표 홈페이지, 대표 팩스번호

        둘째, 서비스 이용과정이나 사업처리 과정에서 아래와 같은 정보들이 자동으로 생성되어 수집될 수 있습니다.
                - IP Address, 쿠키, 방문 일시, 서비스 이용 기록, 불량 이용 기록
        셋째, 네이버 아이디를 이용한 부가 서비스 및 맞춤식 서비스 이용 또는 이벤트 응모 과정에서 해당 서비스의 이용자에 한해서만 개인정보 추가 수집이 발생할 수 있으며, 이러한 경우 별도의 동의를 받습니다.
        
        넷째, 성인컨텐츠, 유료/게임 등 일부 서비스 이용시 관련 법률 준수를 위해 본인인증이 필요한 경우, 아래와 같은 정보들이 수집될 수 있습니다. 
                - 이름, 생년월일, 성별, 중복가입확인정보(DI), 암호화된 동일인 식별정보(CI), 휴대폰 번호(선택), 아이핀 번호(아이핀 이용시), 내/외국인 정보
       
        다섯째, 유료 서비스 이용 과정에서 아래와 같은 결제 정보들이 수집될 수 있습니다. 
                - 신용카드 결제시 : 카드사명, 카드번호 등
                - 휴대전화 결제시 : 이동전화번호, 통신사, 결제승인번호 등
                - 계좌이체시 : 은행명, 계좌번호 등
                - 상품권 이용시 : 상품권 번호

    나. 개인정보 수집방법회사는 다음과 같은 방법으로 개인정보를 수집합니다.

                - 홈페이지, 서면양식, 팩스, 전화, 상담 게시판, 이메일, 이벤트 응모, 배송요청
                - 협력회사로부터의 제공 
                - 생성정보 수집 툴을 통한 수집
                    </textarea>
                    <br>
                    <input type="checkbox" name="req"> MIMS 이용약관에 동의합니다. 
                </td>
            </tr>
            
            
            <tr>
                <td width="100%" height="50%" align="center">
                    <p align="center">
                            <span style="padding-left: 10px">
                                    <font size="4"><b>개인정보 활용 동의</b></font>
                            </span>
                    </p>
                    <br>
                    <textarea rows="20" cols="150">
                            01. 제 1조 (목적)
                            ① 서울아산병원 홈페이지(www.amc.seoul.kr) 이용약관(이하 "본 약관"이라 합니다)은 이용자가 서울아산병원(이하 "병원"이라 합니다)에서 제공하는 인터넷 관련 서비스(이하 "서비스"라 합니다)를 이용함에 있어 이용자와 "병원"의 권리·의무 및 책임사항을 규정함을 목적으로 합니다.
                            ② 이용자가 되고자 하는 자가 "병원"이 정한 소정의 절차를 거쳐서 "동의" 단추를 누르면 본 약관에 동의하는 것으로 간주합니다. 본 약관에 정하는 이외의 이용자와 "병원"의 권리, 의무 및 책임사항에 관해서는 대한민국의 관련 법령과 상관습에 의합니다.
                            02. 제 2조 (정의)
                            ① "이용자"란 "병원"에 접속하여 본 약관에 따라 "병원" 회원으로 가입하여 "병원"이 제공하는 서비스를 받는 자를 말합니다.
                            ② "개인정보"란 당해 정보에 포함되어 있는 성명, 주민등록번호 등의 사항에 의하여 특정개인을 식별할 수 있는 정보(당해 정보만으로는 특정개인을 인식할 수 없더라도 다른 정보와 용이하게 결합하여 식별할 수 있는 것을 포함한다)를 말합니다.
                            03. 제 3조 (회원 가입)
                            ① 이용자가 되고자 하는 자는 "병원"이 정한 가입양식에 따라 회원정보를 기입하고 "확인" 단추를 누르는 방법으로 회원가입을 신청합니다.
                            ② "병원"은 제1항과 같이 회원으로 가입할 것을 신청한 자가 다음 각 호에 해당하지 않는 한 신청한 자를 회원으로 등록합니다.
                            가입신청자가 본 약관 제6조 제3항에 의하여 이전에 회원자격을 상실한 적이 있는 경우. 다만, 제6조 제3항에 의한 회원자격 상실 후 3년이 경과한 자로서 "병원"의 회원재가입 승낙을 얻은 경우에는 예외로 합니다.
                            등록 내용에 허위, 기재누락, 오기가 있는 경우
                            기타 회원으로 등록하는 것이 "병원"의 기술상 현저히 지장이 있다고 판단되는 경우
                            ③ 회원가입계약의 성립 시기는 "병원"의 승낙이 가입신청자에게 도달한 시점으로 합니다.
                            ④ 회원은 제1항의 회원정보 기재 내용에 변경이 발생한 경우, 즉시 변경사항을 정정하여 기재하여야 합니다.
                            04. 제 4조 (서비스의 제공 및 변경)
                            ① "병원"은 이용자에게 아래와 같은 서비스를 제공합니다.
                            본인/대리/비회원 진료 예약 및 내역 조회 서비스
                            건강검진 예약 및 조회, 온라인문진, 결과 조회 서비스
                            검사예약 및 결과 조회 서비스
                            증명서발급, 중간진료비결제 서비스
                            투약내역 조회 서비스
                            고객의소리
                            칭찬코너
                            후원내역조회
                            의료정보 통합검색서비스
                            병원의 의료진 및 진료일정 안내
                            병원에서 제공하는 건강정보
                            월 2회 건강정보메일 발송 서비스
                            트위터, 페이스북 등의 커뮤니티 서비스
                            의학영상정보 서비스
                            회원 본인이 입력한 건강관련 기록의 저장 및 이력 조회 등 내 손안의 차트 서비스 제공
                            기타 "병원"이 정하는 서비스
                            ② "병원"은 그 변경될 서비스의 내용 및 제공일자를 제7조 제2항에서 정한 방법으로 이용자에게 통지하고, 제1항에 정한 서비스를 변경하여 제공할 수 있습니다.
                            ③ "병원"은 서비스 내용의 변경으로 인하여 이용자가 입은 손해에 대하여 배상하지 아니합니다. 단, 병원의 고의 또는 중과실이 있는 경우에는 그러하지 아니합니다.
                            05. 제 5조 (서비스의 중단)
                            ① "병원"은 컴퓨터 등 정보통신설비의 보수점검·교체 및 고장, 통신의 두절 등의 사유가 발생한 경우에는 서비스의 제공을 일시적으로 중단할 수 있고, 새로운 서비스로의 교체 혹은 기타 "병원"이 적절하다고 판단하는 사유에 기하여 현재 제공되는 서비스를 완전히 중단할 수 있습니다.
                            ② 제1항에 의한 서비스 중단의 경우에는 "병원"은 제7조 제2항에서 정한 방법으로 이용자에게 통지합니다. 다만, "병원"이 통제할 수 없는 사유로 인한 서비스의 중단(시스템 관리자의 고의, 과실이 없는 디스크 장애, 시스템 다운 등)으로 인하여 사전 통지가 불가능한 경우에는 그러하지 아니합니다.
                            ③ "병원"의 고의 또는 과실이 없는 서비스 내용의 변경으로 인하여, 이용자가 입은 손해에 대하여 보상하지 아니한다.
                            06. 제 6조 (이용자 탈퇴 및 자격 상실 등)
                            ① 이용자는 "병원"에 언제든지 자신의 회원 등록을 말소해 줄 것(이용자 탈퇴)을 요청할 수 있으며 "병원"은 위 요청을 받은 즉시 해당 이용자의 회원 등록 말소를 위한 절차를 밟습니다.
                            ② 이용자가 다음 각 호의 사유에 해당하는 경우, "병원"은 이용자의 회원자격을 적절한 방법으로 제한 및 정지, 상실시킬 수 있습니다.
                            가입 신청 시에 허위내용을 등록한 경우
                            다른 사람의 "서비스" 이용을 방해하거나 그 정보를 도용하는 등 전자거래질서를 위협하는 경우
                            "서비스"를 이용하여 법령 및 본 약관, 공서양속에 반하는 행위를 하는 경우
                            ③ "병원"이 이용자의 회원자격을 상실시키기로 결정한 경우에는 회원등록을 말소합니다. 이 경우 이용자인 회원에게 회원등록 말소 전에 이를 통지하고, 소명할 기회를 부여합니다.
                            ④ "이용자"가 본 약관에 의해서 회원 가입 후 "서비스"를 이용하는 도중, 3년 동안 "서비스"를 이용하기 위해 log-in한 기록이 없는 경우에 "병원"은 이용자로 하여금 개인정보수정 요청 및 서비스 제한을 가할 수 있습니다.
                            07. 제 7조 (이용자에 대한 통지)
                            ① "병원"이 특정 이용자에 대한 통지를 하는 경우 이용자가 회원 가입시 기재한 메일주소를 이용할 수 있습니다.
                            ② "병원"이 불특정다수 이용자에 대한 통지를 하는 경우 "병원" 홈페이지에 사전 게시함으로써 개별 통지에 갈음할 수 있습니다.
                            08. 제 8조 (이용자의 개인정보보호)
                            ① "병원"은 관련법령이 정하는 바에 따라서 이용자 등록정보를 포함한 이용자의 개인정보를 보호하기 위하여 노력합니다. 이용자의 개인정보보호에 관해서는 관련법령 및 "병원"이 정하는 "개인정보취급방침"에 정한 바에 의합니다.
                            09. 제 9조 ("병원"의 의무)
                            ① "병원"은 법령과 본 약관이 금지하거나 공서양속에 반하는 행위를 하지 않으며, 본 약관이 정하는 바에 따라 지속적이고 안정적으로 서비스를 제공하기 위해서 노력합니다.
                            ② "병원"은 이용자가 안전하게 인터넷 서비스를 이용할 수 있도록 이용자의 개인정보보호를 위한 보안 시스템을 구축합니다.
                            ③ "병원"은 이용자가 원하지 않는 영리목적의 광고성 전자우편을 발송하지 않습니다.
                            10. 제 10조 (이용자의 ID 및 비밀번호에 대한 의무)
                            ① "병원"이 관계법령, "개인정보취급방침"에 의해서 그 책임을 지는 경우를 제외하고, 자신의 ID와 비밀번호에 관한 관리책임은 각 이용자에게 있습니다.
                            ② 이용자는 자신의 ID 및 비밀번호를 제3자에게 이용하게 해서는 안됩니다.
                            ③ 이용자는 자신의 ID 및 비밀번호를 도난당하거나 제3자가 사용하고 있음을 인지한 경우에는 바로 "병원"에 통보하고 "병원"의 안내가 있는 경우에는 그에 따라야 합니다.
                            11. 제 11조 (이용자의 의무)
                            ① 이용자는 다음 각 호의 행위를 하여서는 안됩니다.
                            회원가입신청 또는 변경시 허위내용을 등록하는 행위
                            "병원"에 게시된 정보를 변경하는 행위
                            "병원", 기타 제3자의 인격권 또는 지적재산권을 침해하거나 업무를 방해하는 행위
                            다른 회원의 ID를 도용하는 행위
                            광고 또는 외설, 폭력적인 메시지·화상·음성 등이 담긴 메일을 보내는 등 기타 공서양속에 반하는 정보를 공개 또는 게시하는 행위.
                            관련 법령에 의하여 그 전송 또는 게시가 금지되는 정보(컴퓨터 프로그램 등)의 전송 또는 게시하는 행위
                            "병원"의 직원이나 서비스 관리자를 가장 혹은 사칭하거나 타인의 명의를 도용하여 글을 게시하거나 메일을 발송하는 행위
                            컴퓨터 소프트웨어, 하드웨어, 전기통신 장비의 정상적인 가동을 방해, 파괴할 목적으로 고안된 소프트웨어 바이러스, 기타 다른 컴퓨터 코드, 파일, 프로그램을 포함하고 있는 자료를 게시하거나 전자우편으로 발송하는 행위
                            스토킹(stalking) 등 다른 이용자를 괴롭히는 행위
                            다른 이용자에 대한 개인정보를 동의 없이 수집, 저장, 공개하는 행위
                            불특정 다수를 대상으로 하여 광고 또는 선전을 게시하거나 스팸메일을 전송하는 등의 방법으로 "병원"의 서비스를 이용하여 영리목적의 활동을 하는 행위
                            "병원"이 제공하는 서비스에 정한 약관 혹은 기타 서비스 이용에 관한 규정을 위반하는 행위
                            ② 제1항에 해당하는 행위를 한 이용자가 있을 경우 "병원"은 본 약관 제6조 제2, 3항에서 정한 바에 따라 이용자의 회원자격을 적절한 방법으로 제한 및 정지, 상실시킬 수 있습니다.
                            ③ 이용자는 그 귀책사유로 인하여 "병원"이나 다른 이용자가 입은 손해를 배상할 책임이 있습니다.
                            12. 제 12조 (공개게시물의 삭제)
                            ① 이용자의 공개게시물의 내용이 다음 각 호에 해당하는 경우 "병원"은 이용자에게 사전 통지 없이 해당 공개게시물을 삭제할 수 있고, 해당 이용자의 회원 자격을 제한, 정지 또는 상실시킬 수 있습니다.
                            다른 이용자 또는 제3자를 비방하거나 중상 모략으로 명예를 손상시키는 내용
                            공서양속에 위반되는 내용의 정보, 문장, 도형 등을 유포하는 내용
                            범죄행위와 관련이 있다고 판단되는 내용
                            다른 이용자 또는 제3자의 저작권 등 기타 권리를 침해하는 내용
                            기타 관계 법령에 위배된다고 판단되는 내용
                            종교적, 정치적 분쟁을 야기하는 내용으로서, 이러한 분쟁으로 인하여 병원의 업무가 방해되거나 방해되리라고 판단되는 경우
                            ② 이용자의 공개게시물로 인한 법률상 이익 침해를 근거로, 다른 이용자 또는 제3자가 이용자 또는 "병원"을 대상으로 하여 민형사상의 법적 조치(예:고소, 가처분신청, 손해배상청구소송)를 취하는 동시에 법적 조치와 관련된 게시물의 삭제를 요청해오는 경우, "병원"은 동 법적 조치의 결과(예: 검찰의 기소, 법원의 가처분결정, 손해배상판결)가 있을 때까지 관련 게시물에 대한 접근을 잠정적으로 제한할 수 있습니다.
                            13. 제 13조 (저작권의 귀속 및 이용제한)
                            ① "병원"이 작성한 저작물에 대한 저작권 기타 지적재산권은 "병원"에 귀속합니다.
                            ② 이용자는 "병원"을 이용함으로써 얻은 정보를 "병원"의 사전승낙 없이 복제, 전송, 출판, 배포, 방송 기타 방법에 의하여 영리목적으로 이용하거나 제3자에게 이용하게 하여서는 안됩니다.
                            14. 제 14조 (약관의 개정)
                            ① "병원"은 약관의규제등에관한법률, 전자거래기본법, 전자서명법, 정보통신망이용촉진등에관한법률 등 관련법을 위배하지 않는 범위에서 본 약관을 개정할 수 있습니다.
                            ② "병원"이 본 약관을 개정할 경우에는 적용일자 및 개정사유를 명시하여 현행약관과 함께 초기화면에 그 적용일자 7일 이전부터 적용일자 전일까지 공지합니다.
                            ③ "이용자"는 변경된 약관에 대해 거부할 권리가 있습니다. "이용자"는 변경된 약관이 공지된 후 15일 이내에 거부의사를 표명할 수 있습니다. "이용자"가 거부하는 경우 "병원"은 당해 "이용자"와의 계약을 해지할 수 있습니다. 만약 "이용자"가 변경된 약관이 공지된 후 15일 이내에 거부의사를 표시하지 않는 경우에는 동의하는 것으로 간주합니다.
                            15. 제 15조 (재판관할)
                            ① "병원"과 이용자간에 발생한 서비스 이용에 관한 분쟁에 대하여는 대한민국 법을 적용하며, 본 분쟁으로 인한 소는 민사소송법상의 관할을 가지는 대한민국의 법원에 제기합니다.
                            16. 부칙
                            ① 본 약관은 2014년 8월 21일부터 적용하고, 2012년 6월 20일부터 적용되던 종전의 약관은 본 약관으로 대체합니다.
                    </textarea>
                    <br>
                    <input type="checkbox" name="req2"> 개인정보 수집 및 이용에 동의합니다.
                </td>
            </tr>

            
            <tr>
                    <td width="100%" height="50%" align="center">
                        <p align="center">
                                <span style="padding-left: 10px">
                                        <font size="4"><b>처리하는 개인정보 항목 및 보유기간</b></font>
                                </span>
                        </p>
                        <br>
                        <textarea rows="20" cols="150">
                                병원은 회원가입 시 서비스 이용을 위해 필요한 최소한의 개인정보만을 수집합니다. 귀하가 병원의 서비스를 이용하기 위해서는 회원가입 시 필수항목과 선택항목이 있는데, 메일수신여부 등과 같은 선택항목은 입력하지 않더라도 서비스 이용에는 제한이 없습니다.

                                [일반 회원가입 시 수집항목]
                                필수항목 : 회원유형, 성명, 아이디, 비밀번호, 성별, 생년월일, 휴대전화번호, e-mail
                                선택항목 : 메일수신여부, 면허번호(의료진에 한함), 사원번호(직원에 한함)
                                서비스 이용 과정이나 서비스 제공 업무 처리 과정에서 다음과 같은 정보들이 자동으로 생성되어 수집될 수 있습니다.
                                서비스 이용기록, 접속 로그, 쿠키, 접속 IP 정보
                                [진료 시 수집항목]
                                필수항목 : 병원등록번호, 성명(한글), 주민등록번호, 외국인등록번호(외국인에 한함) 주소
                                선택항목 : 휴대전화번호, e-mail
                                건강정보: 병력 및 가족력 등 진료서비스 제공을 위하여 의료진이 필요하다고 판단되는 개인건강정보
                                [진료비 수납 시 수집항목]
                                신용카드 결제 시 : 카드사명, 카드번호 등 카드결제 승인 정보
                                [내 손안의 차트 서비스 시 수집항목]
                                아래 항목의 입력 정보와 이력을 포함합니다.
                                혈당, 혈압, 맥박, 키, 체중, 체질량지수, 심혈관질환 위험도, 대사 증후군, 알레르기, 복용약, 인슐린 투약, 복약상담, 설문지, 하이패스 결제, 병원 도착 정보, 메모내용, 식사 및 운동,
                                생활습관점검 및 발관리, 당뇨상담, 천식 최대호기유속측정, 천식증상 및 천식약물, 아토피 증상 및 아토피 약물, 아토피 부위 사진, 알람설정, 이용문의
                                * 그 외 특정 목적을 위해 단기적으로 개인정보를 수집할 경우에는 별도로 공지하고 수집합니다.
                                
                                [아산스마트암병원 서비스 시 수집항목]
                                아래 항목의 입력 정보와 이력을 포함합니다.
                                혈당, 혈압, 맥박, 키, 체중, 체질량지수, 심혈관질환 위험도, 대사 증후군, 복용약, 설문지, 하이패스 결제, 메모내용, 병원 도착 정보, 알람설정, 이용문의
                                * 그 외 특정 목적을 위해 단기적으로 개인정보를 수집할 경우에는 별도로 공지하고 수집합니다.
                                
                                [입사지원 시 수집항목]
                                이름, 생년월일, 성별, 비밀번호, 전화번호, 휴대폰번호, 국적, 이메일, 사진, 주소, 키, 몸무게, 시력, 종교, 취미, 특기, 장애여부, 혼인여부, 수상경력, 학력사항, 성적, 가족사항, 자격사항, 경력사항
                                [개인정보 수집방법]
                                다음과 같은 방법으로 개인정보를 수집합니다.
                                홈페이지, 모바일, 서면양식, FAX, 전화, 상담 게시판, e-mail, 이벤트 응모
                                생성정보 수집 툴을 통한 수집(방문자 분석 툴과 같은 수집 툴)  
                        </textarea>
                        <br>
                        <input type="checkbox" name="req3"> 개인정보 보유 및 처리에 동의합니다.
                    </td>
            </tr>
    
            <tr>
                    <td align="center" valign="top">
                        <input type="button" value="동의" onclick="chk2()"/>&nbsp;&nbsp;&nbsp;
                        <input type="button" value="동의하지 않습니다" onclick="nochk()"/>
                    </td>
            </tr>
        </table>
        </form>
    </body>
</html>